@charset "utf-8";

/* CSS Document */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,

/*標題大->小*/

p,
pre,

/*段落*/

b,
strong,

/*粗體;一般、強調的*/

i,
em,

/*斜體;一般、強調的*/

mark,

/*標記文字(預設是黃底)*/

del,

/*刪除線*/

ins,

/*底線*/

small,

/*小文字*/

sub,

/*下標文字*/

sup,

/*上標文字*/

q,

/*引號*/

kbd,

/*提示瀏覽者鍵盤輸入指示*/

blockquote,

/*縮排*/

abbr,

/*解釋縮寫意思;值title="World Health Organization"給瀏覽器有用信息*/

address,

/*標示地址*/

cite,

/*預設斜體*/

bdo,

/*文字方向鏡射;值dir="rtl"*/

a,

/*連結;值link(默認)、visited(未訪問)、hover(滑鼠移過去)、active(活動)*/

img,

/*圖*/

table,
caption,
tr,
th,
td,
thead,
tbody,
tfoot,
colgroup,
col,

/*表格*/

ul,
ol,
li,

/*無序列表框;值disc(實體圈)circle(空心圈)square(實體方)none(無)、有序列表框;type=(1AaIi)、列表*/

dl,
dt,
dd
/*描述列表框、描述列表裡的大標、每項大標裡的內容*/

div,
span,

/*區塊*/

iframe,

/*外連框架*/

header,
footer,
nav,
section,
article,
aside,
details,
summary,

/*框架：頁頭、頁尾、連結容器、分段內容、獨立的內容、輔助內容、細節、大綱*/

form,
input,
textarea,
label,
fieldset,
legend,
select,
optgroup,
option,
datalist,
keygen,
output
/*表單；input值：text文字、password密碼、submit提交、reset重設、radio單選按鈕、checkbox複選框、color色彩、email電子郵件、tel電話、url網址、number數字(可另設定max.min)、search搜索、range滑塊控制、date日期(可另設定max.min)、datetime-local日期時間、month月份、time時間、week週*/

{
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0;
    line-height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}

::-webkit-scrollbar {
    width: 0em;
    height: 0em;
}

::-webkit-scrollbar-button {
    width: 0em;
    height: 0em;
}

::-webkit-scrollbar-track-piece {
    background: #363E47 !important;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px #363E47 !important;
    background: #b7b7b7 !important;
}


.for_mobile {
    position: relative;
    margin-top:10px;
    left: 50%;
}

.for_web_leftview {
    margin: 0px auto;
    margin-top: 60px;
}

.container_card_all {
    width: 320px;
    height: 550px;
    perspective: 800px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}


/*-------------------
顏色
--------------------*/


/*-------------------
尺寸
--------------------*/


/*iphone6 375x667*/

@media (min-width: 322px) {
    .for_mobile {
        margin-left: -175px;
    }
    .card_container {
        width: 350px;
        height: 550px;
    }
    .card_container_back {
        width: 350px !important;
        height: 550px;
    }
    .download {
        width: 350px !important;
        top: 100.5%;
    }
    .name {
        font-size: 20px;
        /*主欄字體*/
        line-height: 110%;
        height: 95px;
    }
    .ufirst_process_positive_a header .logo img {
        height: 49px;
        width: auto;
    }
    .qr img {
        height: 200px;
    }
    .i_b {
        bottom: 10px;
        right: -10px;
    }
    .form_header {
        padding-left: 85px;
    }
    .card_mask {
        margin-left: 43%;
        width: 80px;
    }
}


/*iphone5 320x568*/

@media (max-width: 321px) {
    .for_mobile {
        margin-left: -140px;
    }
    .card_container {
        margin-top: 20px;
        width: 280px;
        height: 500px;
    }
    .card_container_back {
        margin-top: 20px;
        width: 280px !important;
        height: 500px;
    }
    .download {
        width: 280px !important;
        top: 95%;
        height: 80px;
    }
    .name {
        font-size: 16px;
        /*主欄字體*/
        line-height: 110%;
        height: 75px;
    }
    .ufirst_process_positive_a header .logo img {
        height: 40px;
        width: auto;
    }
    .qr img {
        height: 170px;
    }
    .i_b {
        bottom: 40px;
        right: 50px;
    }
    .form_header {
        padding-left: 40px;
    }
    .card_mask {
        margin-left: 35%;
        width: 60px;
    }
    .navbar-brand {
        font-size: 12pt;
    }
}

@media screen and (min-width:0px) and (max-width: 320px) {
    .ufirst_process_positive_a {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
    .download {
        text-align: center;
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        background: #000000;
    }
    .ufirst_process_back_a {
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }
}


/*-------------------------------------------------------------*/

.card_mask {
    width: 80px;
    height: 40px;
    position: absolute;
    /* border-radius: 0px 0px 500px 500px;*/
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -khtml-border-radius: 100%;
    -moz-border-radius: 100%;
    box-shadow: 1px -7px 20px #888888 inset;
    top: -80%;
    z-index: 98;
    margin-left: -1px;
}

.card_mask_mask {
    width: 80px;
    height: 40px;
    position: absolute;
    overflow: hidden;
    left: 43%;
    top: 0%;
    z-index: 98;
}
@media screen and (min-width:0px) and (max-width: 320px) {
    .card_mask_mask{
        display:none;
    }
}
#card {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all 1s ease;
    /*為翻牌添加過渡效果*/
    -webkit-transition: all 1s ease180;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#card.flipped {
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
}

#card figure {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -160px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

#card .front {
    z-index: 0;
    /*讓正面朝上*/
    cursor: pointer;
}

#card .back {
    cursor: pointer;
    transform: rotateY(180deg);
}

#flip {
    width: 130px;
    height: 50px;
    position: absolute;
    z-index: 100;
}


/*樣式*/


.ufirst_process_positive_a {
    box-shadow: 0 0 0 #000000;
    line-height: 150%;
}



.ufirst_process_positive_a .tit {
    font-size: 12px;
    line-height: 150%;
}

.ufirst_process_positive_a .txt_a {
    font-size: 14px;
    line-height: 150%;
}

.ufirst_process_positive_a header,
.ufirst_process_positive_a section {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.ticket_buttom {
    height: 40px;
}

.ufirst_process_positive_a header {
    padding: 16px 14px 10px 14px;
    align-items: flex-end;
}

.ufirst_process_positive_a header .process img {
    height: 24px;
    width: auto;
    margin: 0 10px;
}

.ufirst_process_positive_a header .process_txt {
    text-align: right;
}

.ufirst_process_positive_a section {
    padding: 5px 14px;
    width: 100%;
}

.name {
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 80%;
    width: 110%;
    text-align: left;
    padding-top:10px;
}

.ufirst_process_positive_a section ul {
    text-align: center;
}

.ufirst_process_positive_a section ul:last-child {
    text-align: right;
}

.ufirst_process_positive_a section ul:first-child {
    text-align: left;
}

.qr {
    text-align: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    margin-top: 20px;
    padding-bottom: 8px;
    font-size: 15px;
    color: #000000;
    display: inline-block;
    line-height: 130%;
    margin: 0px auto;
    padding-bottom: 20px;
}

.qr img {
    display: block;
    margin: 0 auto;
    width: auto;
    margin-bottom: -20px;
    margin-top: 5px;
}

.qr_barcode img {
    display: block;
    margin: 0 auto;
    width: 100%;
    margin-bottom: -20px;
    margin-top: 125px;
    padding-bottom: 19px;
}

@media (min-width: 320px) {
    .qr_barcode{
        padding-top:30px;
    }
}
@media (max-width: 320px) {
    .qr_barcode{
        padding-top:0;
    }
}
.download {
    text-align: center;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-radius: 8px;
    font-size: 18px;
    position: absolute;
    bottom: -86px;
    left: 50%;
    margin-left: -160px;
    z-index: -1;
    line-height: 130%;
    padding: 20px 0;
    font-size: 22px;
    bottom: -83px;
    box-shadow: 0px 2px 15px #888888;
    margin-top: 4px;
}

.download a {
    display: block;
    padding: 0px 0 0px 0;
    margin-top: -20px;
    padding: 10px 0;
}

.download h3 {
    display: block;
    margin-bottom: 10px;
}

.ufirst_process_back_a {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 0 #000000;
    padding: 0;
    color: #959595;
}

.ufirst_process_back_a section {
    border-top: 1px solid #E0E0E0;
    font-size: 14px;
}

.form_header {
  /*  background: url(../_img/di_a.png) no-repeat 16px 100%;
    background-size: 61px;*/
    padding-top: 40px;
    padding-bottom: 15px;
    line-height: 120%;
    color: #000000;
}

.form_header span {
    font-size: 23px;
    width: 100%;
    margin-left: -70px;
}

.important,
.terms {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #E0E0E0;
}

.important {
    color: #000000;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.card_container_back section:nth-child(2) {
    background: #eee;
}

.card_container_back .terms:last-child {
    background: #eee;
}

.terms h3 {
    font-size: 18px;
    font-weight: 600;
	color: #000;
}

.terms ul {
    padding: 5px 0;
    line-height: 22px;
	color: #000;
}

.terms li {
    list-style-type: decimal;
    margin: 4px 10px 4px 16px;
    line-height: 150%;
}

.terms li li {
    list-style-type: upper-alpha;
}

.terms li li li {
    list-style-type: upper-alpha;
}

.terms a{
    word-break: break-all;
}

.overflow {
    overflow-x: hidden;
    overflow-y: auto;
}

.i_b {
    width: 26px;
    height: 26px;
    text-align: center;
    position: absolute;
    font-weight: bold;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}


.verification section {
    display: block;
}

.verification .txt_a input {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    width: 100%;
    padding: 8px 5px;
    text-align: center;
    margin: 5px 0;
}

.code {
    background: #000000;
    color: #E8D766;
    border: 0;
    cursor: no-drop;
}

.unchanged {
    border: 0;
    display: none;
}

.submit {
    width: 100% !important;
    background: #444444;
    background: -webkit-linear-gradient(#444444 0%, #64655f 23%, #353432 86%);
    background: -o-linear-gradient(#444444 0%, #64655f 23%, #353432 86%);
    background: linear-gradient(#444444 0%, #64655f 23%, #353432 86%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#353432', GradientType=0);
    color: #ffffff;
    cursor: pointer;
    border: 1px solid #333333;
    padding: 10px auto;
}


/*滑動按鈕*/

.switch-btn {
    position: relative;
    display: block;
    width: 80px;
    height: 30px;
    border-radius: 18px;
    cursor: pointer;
}

.checked-switch {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.text-switch {
    background-color: #ed5b49;
    border: 1px solid #d2402e;
    border-radius: inherit;
    color: #fff;
    display: block;
    font-size: 15px;
    height: inherit;
    position: relative;
    text-transform: uppercase;
}

.text-switch:before,
.text-switch:after {
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.text-switch:before {
    content: attr(data-no);
    right: 11px;
}

.text-switch:after {
    content: attr(data-yes);
    left: 11px;
    color: #FFFFFF;
    opacity: 0;
}

.checked-switch:checked~.text-switch {
    background-color: #00af2c;
    border: 1px solid #068506;
}

.checked-switch:checked~.text-switch:before {
    opacity: 0;
}

.checked-switch:checked~.text-switch:after {
    opacity: 1;
}

.toggle-btn {
    background: linear-gradient(#eee, #fafafa);
    border-radius: 100%;
    height: 28px;
    left: 1px;
    position: absolute;
    top: 1px;
    width: 28px;
}

.toggle-btn::before {
    color: #aaaaaa;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -2px;
    padding: 4px 0;
    vertical-align: middle;
}

.checked-switch:checked~.toggle-btn {
    left: 51px;
}

.text-switch,
.toggle-btn {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.no-radius,
.no-radius .toggle-btn {
    border-radius: 0;
}

.circle-style .toggle-btn::before {
    background: linear-gradient(#dedede, #cacaca);
    border-radius: 50%;
    content: "";
    height: 14px;
    margin-top: 6px;
    padding: 0;
    width: 14px;
}

/*--防勿觸--*/
.ufirst_process_positive_a {
    -webkit-user-select: none;
    /* Safari 3.1+ */
    -moz-user-select: none;
    /* Firefox 2+ */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Standard syntax */
}
.MT_navbar,
.checkcode_btn #send_coupon{
    background: #603813
}
.ufirst_process_positive_a .tit {
    color: #603813
}
.navbar-fixed-top{
    position:relative;
}
.checkcode_info input{
    padding: 0 10px;
}
/*-------------------
憿讛𠧧
--------------------*/

.card_container {
    border-radius: 8px;
    background: #f8f8f8;
    overflow: hidden;
    box-shadow: 0px 0px 15px #888888;
}

.ticket_top_header,
.normRow {
    background: #f8f8f8;
}

.card_container_back {
    border-radius: 8px;
    background: #f8f8f8;
    /*�㨃����峕艶�𠧧*/
    box-shadow: 1px 0px 15px #888888;
}

.download {
    background: #f8f8f8 !important;
    z-index: 999;
}

.download a {
    color: #2d2d2d !important;
    padding: 10px 0;
}

.ufirst_process_positive_a .tit {
    color: #0a936c
    /*璅䠷���烾�讛𠧧*/
}
#coffee .ufirst_process_positive_a .tit {
    color: #603813;
}
.ufirst_process_positive_a {
    color: #181818;
    /*�批捆�䌊憿讛𠧧*/
}

.i_b {
    border: 2px solid #181818;
    color: #181818;
}



body {
    background: #EEE;
}

.card_mask {
    background: #f8f8f8;
    z-index: 99;
}

.style_double_layer span{
    color: #fff;
    display: block;
}


.ticket_top_header .logo {
    width: 321px;
    height: 39px;
    /*background-image: url(https://s3-ap-northeast-1.amazonaws.com/idanticketresource/k_dev_prototype/MT_movie/movie_logo1.png);*/
    background-size: auto 100%;
    background-repeat: no-repeat;
}
#coffee .ticket_top_header .logo {
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/idanticketresource/ticket_canlead/m_7_c/logo.png);
}

.ufirst_process_positive_a section:nth-child(3) {
    /*璈剎ar*/
    /* background: #d1e7c9;*/
    /*background-image: url(https://s3-ap-northeast-1.amazonaws.com/idanticketresource/k_dev_prototype/MT_movie/movie_strip_b.png);*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.MT_navbar{
    background: #603813 !important;
}

